* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* global tags */
main {
  display: flex;
  flex-direction: row;
  background-color: #f3f6f7;
}

span {
  color: #ffc30c;
}

div {
  width: auto;
  height: auto;
}

p {
  width: auto;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5em;
  background-color: #1f1f3D;
}

h2 {
  width: auto;
  height: auto;
  margin-left: 1.5em;
  font-size: 3em;
  color: white;
}

h3 {
  font-size: 4em;
  color: lightgrey;
  position: relative;
  top: 4em;
  left: 4em;
}

input {
  width: 20em;
  height: 3em;
}

button {
  width: auto;
  height: auto;
  cursor: pointer;
}

button:hover {
  background-color: #f3f6f7;
  color: #1f1f3D;
}

label {
  height: auto;
  width: auto;
  margin-bottom: 1em;
}

h5 {
  width: auto;
  height: auto;
  font-size: 1.5em;
  margin: .5em;
}

/* search */
.search-button {
  background-color: grey;
  width: 3em;
}

.search-area{
  display: flex;
  width: auto;
  height: auto;
  margin-right: 5em;
}

.search-img {
  width: 2em;
  height: 2em;
}

/* left column */
.left-column {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #587A8A;
  border-right: 2px solid black;
}

/* left column  and containers */
.button-input {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.task-title-input {
  width: 34em;
  height: 3em;
}

.task-input {
  width: 28em;
}

.task-item {
  display: flex;
  height: auto;
}

.make-clear-container {
  height: auto;
  width: auto;
  border-bottom: 1px solid #44697A ;
}

.current-task-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  height: fit-content;
  margin-top: .5em;
}

.left-task {
  width: 20em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: .5em;
  margin-left: 2em;
}

.left-task-item {
  font-size: 1.4em;
  width: 80%;
}

/* specific left column buttons */
.add-task-button {
  background-color: #1f1f3D;
  color: white;
  width: 6em;
  height: 3.4em;
}

.make-clear-container button {
  margin-bottom: 1em;
  width: 16em;
  height: 2em;
  background-color: #1f1f3D;
  color: white;
  font-size: 1.5em;
}

.make-clear-container button:hover {
  background-color: #f3f6f7;
  color: #1f1f3D;
}

.filter-button {
  margin-top: 1em;
  width: 16em;
  height: 2em;
  background-color: #1f1f3D;
  color: white;
  font-size: 1.5em;
}

/* right column items */
.right-column {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f3f6f7;
}

/* cards */
.task-card {
  width: 25em;
  height: fit-content;
  border: 2px solid grey;
  margin: 2em;
  overflow: auto;
}

.task-card-urgent {
  width: 25em;
  height: fit-content;
  border: 2px solid grey;
  margin: 2em;
  overflow: auto;
  background: #ffe89D;
}

/* task card header */
.task-card-title {
  border-bottom: 1px solid grey;
  margin-top: 1em;
  height: auto;
}

/* task card body */
.checkbox,
.checkbox-complete {
  width: 1em;
  height: 1em;
}

.single-task {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: .5em;
}

.single-task p {
  margin-left: 1em;
}

/* task card footer */
.task-card-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  height: fit-content;
}

.urgent-text{
  position: relative;
  right: .3em;
  margin: .2em 0 0 0;
}

.urgent {
  display: flex;
  margin: .6em .4em .4em 1em;
  flex-direction: column;
}

.urgent-static {
  width: 2em;
  height: 2em;
}

.close-button-card-container {
  display: flex;
  margin: .6em 1em .4em .4em;
  flex-direction: column;
}

.close-button {
  width: 2em;
  height: 2em;
}

.close-button-red {
  width: 2em;
  height: 2em;
}

button:disabled {
  background-color: grey;
  color: black;
}

.no-urgent-message {
  margin-left: 2em;
}


@media screen and (max-width: 600px) {
  * {
    width: 101%;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  nav {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  h2 {
    font-size: 1.5em;
    margin-left: 0px;
  }

  .search-area {
    margin-right: 0px;
    width: 15.5em;
  }

  .make-clear-container button {
    width: 12em;
    height: 2em;
    font-size: 1.3em;
  }

  input {
    height: 2em;
  }

  .task-title-input{
    width: 22em;
    height: 2em;
  }

  .add-task-button {
    width: 4em;
    height: 2.4em;
    font-size: .67em;
  }

  .task-input {
    width: 18em;
  }

  .filter-button {
    width: 12em;
    height: 2em;
    font-size: 1.3em;
    margin: 0 0 .5em 0;
  }

  .left-column {
    width: 100%;
    height: auto;
    justify-content: space-around;
    border: none;
  }

  .task-card {
    width: 20em;
    margin: 1em;
  }

  .task-card-urgent {
    width: 20em;
    margin: 1em;
  }

  .urgency-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .no-urgent-message {
    width: auto;
    height: auto;
    font-size: 1.5em;
    margin: 0 0 1em 0;
    display: inline-block;
  }

  .right-column {
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}
